// 
// Colors
// 

// Pre-state grayscale colors used in other variables

$gray-800: #343a40;

// Override Bootstrap color system

$orange: #bd5d38;
$clear-blue: #26a4d6;
$deep-blue: #030d13;

// Override Bootstrap default state colors

$primary: $deep-blue;
